sudo: required
addons:
  apt:
    update: true
    packages:
    - docker-ce
stages:
- docker-creation
- multiarch-release
jobs:
  include:
  - stage: docker-creation
    # For AMD64
    script:
    - set -e
    - source ./.travis/travis_utils.sh
    - prepare_everything
    - deploy_docker './docker/amd64-Dockerfile' $KOLIBRI_AMD64 $KOLIBRI_AMD64_LATEST
  - stage: docker-creation
    # For arm64
    before_script:
    - docker run --rm --privileged multiarch/qemu-user-static:register --reset
    script:
    - set -e
    - source ./.travis/travis_utils.sh
    - prepare_everything
    - deploy_docker './docker/arm64-Dockerfile' $KOLIBRI_arm64 $KOLIBRI_arm64_LATEST
  - stage: docker-creation
    # For ARM
    before_script:
    - docker run --rm --privileged multiarch/qemu-user-static:register --reset
    script:
    - set -e
    - source ./.travis/travis_utils.sh
    - prepare_everything
    - deploy_docker './docker/arm-Dockerfile' $KOLIBRI_ARM $KOLIBRI_ARM_LATEST
  - stage: multiarch-release
    script:
    - set -e
    - source ./.travis/travis_utils.sh
    - prepare_everything
    - create_multiarch_manifest_kolibri $KOLIBRI_ARM_LATEST $KOLIBRI_AMD64_LATEST $KOLIBRI_arm64_LATEST
    - push_multiarch_manifests
env:
  global:
  - secure: Hoh9KJs7k0K07NLHAGyvK8s28IH0KwAfITPLOlDzMwsb5x86orGBZ2H+3S9rq0JILoMyUEpbko6/oPmpk5S9OC9/0mWNWecSs3K6UklydAJKDLQc2n5JOKPoAhqkuY6J04IsLdcyQ+FAt3m6sMf4WwUI/6h4nJukT79pBIBqtLWIVIT6ss+P/XAHMsQce3cHf+/hPCH5A8ApQKUT+VDrMs6cS9gIJXBMGjml/7aRO+OTwxhFV6Nb19Z0DpcZ7blPMP+af9g+53NjkYJs8yxFziB5yD0iwU2Sv9RR9TsbYg9SlK7Ltd5K9ESEYTTk02wXjdX0HogUpxCCcfflkIFnmjsVyawWppYwoZG2PjGswfg9wqj78i46vI/ZkxSBZoKhPwLOEssgCRj6AUoWYYLHbw3LqEuuA8fzohrV6gnXWB6J+jIedJyaXkLNWFeSfXPIjIUiLK4WWsA96lFFhDUPcRqblP5581CJ3iMGpoYUFdcyrERZ0/gZJyOXMdE+S/SG3SiRPypEIlZFObn+L6j4d5C4ojzrYIiy40CH5pQ89j1tsBdG+3zv00e71/EJudvA/cwv/GrzL5tMPOJH5oASgz4Ugx8eYUvLDeWCqkBCFuYNTv0NVcAJx1eiaJ61V76qj4RtqcjMfFeeLA9h5Y4vFMFISEIW+asWVfJIQz9n8As=
  - secure: RuSVMvQh7vNSCesh+80b+3mfRcVeGQ+DoQWqBssZH0QQ/jp6yDbTinParOsCKLSwhPIfSR1BOgyj6l6BtnUtS/17j3L+Y1BkB+Os/UN2h4JlQrmJeIVlFHf2+8Wff6GDWB9I0tLGtol7Fva+sGAK/HxwFqDQKUfLjusQ9qLHJiLlsl7QLMu/zLqAJY/QuPZSFfc+gougzdW/C4whQm1fled4vIC01zW9P8rVow07/mqJFUoDrtoAcMnylaYlkq9hikH2knNwCEjvF1Qk9o206E+NwQAqJT+O1qSPtFgdUYneNUHCB8zrkRUqvCyO7Wh3NJ7xhe6AELqjLRxqZ4bMkR7JXMYY3J2SMUaSSh5Us1p2CydBqcgHqlXnhlPMkH4TgAGEH8ZT3/yolrMZYTGmt5aYgVTuFpy6r8niVU4NnhRnSEVybtex+LO4smX2MYShDtf9caSqAFt+ck6ZhymhSAryRGh1a53nahdMm4C8SXrApUgLLIXkhKYNscUCI6M6jXA1o7ljB2xAGTcl5PtBQIFC8/4KmTRFfnW1F36heqLl4NTdWRd4D51kIHZKjxecLXL5CGWyReYZrF/jo1XavrdbLaNvAE9SZDVKRAsc48yKHWzC75UYUvlEB5P9NvFNuEHneshTKAJygldtQYwsAZn1EIZt4WKd4bh9EtmGtwg=
